/* Color Theme Swatches in Hex */
.Natureza-1-hex { background: #025159; }
.Natureza-3-hex { color: #038C8C; }
.Natureza-4-hex { color: #BF9A78; }
html {background: #BF9A78; color: #025159;}
.destaque {color: #038C8C;}