html{
  background: rgb(239, 40, 0);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --cor-fundo: rgb(194, 26, 4);
    --cor-hover: rgb(0, 0, 0);
    --cor-primaria: rgb(255, 255, 255);
  }
nav {
  border: solid rgb(194, 26, 4) 1px;
  border-radius: 10px;}

.dropmenu {
  border: solid rgb(194, 26, 4) 1px;
  border-radius: 10px;
}

.dropmenu ul {
  border: solid rgb(194, 26, 4) 1px;
  border-radius: 10px;
}

  .dropmenu ul {
    list-style-type: none;
    padding: 0;
  }
  .dropmenu {
    position: relative top 40px;
  }
  .dropmenu ul {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-around;
  }
  
  .dropmenu ul li {
    display: inline;
    position: relative;
    margin-left: 15px;
  }
  

  
  .dropmenu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    transition: background 0.3s;
    border-radius: 10px;
  }

  .lista_serviços ul li a{
    border: solid rgb(194, 26, 4) 0.1px;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px;
  }
  
.nav_servico{
  z-index: 3;
}

  .dropmenu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 10px;
  }
  
  
  .dropmenu ul ul {
    display: none;
    left: 0;
    position: absolute;
  }
  
  .dropmenu ul li:hover ul {
    display: block;
  }
  
  .dropmenu ul ul {
    width: 150px;
  }
  
  .dropmenu ul ul li a {
    display: block;
  }
  header{
    background-color: rgb(239, 40, 0);
    width: auto;}


.contato img{
  border-radius: 60px;
  width: 50px;
  height: 50px;
}
header p{color: white;}

.titulo h1{color: white;
  position: relative;
 left: 30%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.redes{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 70%;
  position: relative;
  bottom: 20px;
  margin-bottom: 50px;
}
.contato{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  font-weight: bold;
}

#imagem{
    height: 210px; 
    width: 230px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .lateral { display: flex;
    padding-left: 0%;
    margin-left: 15px;
    padding-top: 100px;}
    
    .cabeça {
      display: flex;
      flex-direction: row;
      -ms-flex-align: center;
  }
  ul{
    margin: 0px;
  }

.contato p {
  margin-left: 4px;}
  