.detc h3 {
  display: flex;
  flex-direction: row;
}

section img {
  width: 160px;
  height: 160px
}

.laranja button {
  background-color: green;
  color: #fff;
  padding: 5px 20px;
  width: 80%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.laranja button:hover {
  background-color: rgb(112, 218, 95);
}

.cinza button {
  background-color: green;
  color: #fff;
  padding: 5px 20px;
  width: 60%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cinza button:hover {
  background-color: rgb(112, 218, 95);
}

#hidraulica {
  background: rgb(9, 146, 200);
  border: solid rgb(9, 146, 200) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#eletrica {
  background: rgba(255, 69, 7, 0.947);
  border: solid rgba(255, 69, 7, 0.947) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#pintura {
  background: rgb(9, 146, 200);
  border: solid rgb(9, 146, 200) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

#instalacao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(255, 69, 7, 0.947);
  border: solid rgba(255, 69, 7, 0.947) 1px;
  border-radius: 10px;
}

#manutencao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(9, 146, 200);
  border: solid rgb(9, 146, 200) 1px;
  border-radius: 10px;
}

.rodape {
  background-color: #efcd8c;
}

main section div {
  top: 1px;
  margin: 0;
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  width: 205px;
  height: 315px;
  perspective: 10000px;
  font-family: 'Libre Baskerville';
  position: relative;
  align-items: center;
  border: 3px solid gray;
  border-radius: 0.8em;
}

.servicos div {
  /*  background-color:; cor de fundo do card se precisar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-bottom: 8%;
  text-align: center;
}

main section h2 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 40px;
  text-align: center;
  width: 100%;
}