html{
  background: rgb(239, 40, 0);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --cor-fundo:rgb(239, 40, 0);
    --cor-hover: rgb(0, 0, 0);
    --cor-primaria: rgb(255, 255, 255);
  }
nav {
  border: solid rgb(194, 26, 4) 1px;
  border-radius: 10px;}

.dropmenu {
  border: solid rgb(194, 26, 4) 1px;
  border-radius: 10px;
}
.dropmenu ul {
  border: solid rgb(194, 26, 4) 1px;
  border-radius: 10px;
}

  .dropmenu ul {
    list-style-type: none;
    padding: 0;
  }
  .dropmenu {
    position: relative top 40px;
  }
  .dropmenu ul {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-around;
  }

  .dropmenu ul li {
    display: inline;
    position: relative;
    margin-left: 15px;
  }



  .dropmenu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    transition: background 0.3s;
    border-radius: 10px;
  }

  .lista_serviços ul li a{
    font-size: 1.2rem;
    padding: 4px;
    padding-top: 1px;
  }

.nav_servico{
  z-index: 3;
}

  .dropmenu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 10px;
  }


  .dropmenu ul ul {
    display: none;
    left: 0;
    position: absolute;
  }

  .dropmenu ul li:hover ul {
    display: block;
  }

  .dropmenu ul ul {
    width: 106px;

  }

  .dropmenu ul ul li a {
    display: block;
  }
  header{
    background-color: rgb(194, 26, 4);
    width: auto;
    height:315.4px;
  }


.contato img{
  border-radius: 60px;
  width: 50px;
  height: 50px;
}
header p{color: white;}

.titulo h1{color: white;
  position: relative;
 left: 65%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: xx-large;
}

.contato{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  font-weight: bold;
}

#imagem{
    height: 210px;
    width: 230px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .lateral { display: flex;
    padding-left: 0%;
    margin-left: 15px;
    padding-top: 100px;}

    .cabeça {
      display: flex;
      flex-direction: row;
      -ms-flex-align: center;
  }
  ul{
    margin: 0px;
  }

.contato p {
  margin-left: 4px;}


  @media (max-width: 1200px) {
    .cabeça{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    #imagem {
      width: 150px;
      height: 150px;
      padding: 0;
      padding-top: 20px;
    }
    .lateral{
      padding: 0;
    }
    .titulo h1{
      left: 0;
      font-size: 25px;
      padding-bottom: 13px;
    }
}

@media (max-width: 780px) {
  .dropmenu ul li a{
    font-size: 20px;
  }
  .titulo h1{
    left: 0;
    font-size: 25px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px){
  .titulo h1{
    left: 0;
    font-size: 16px;
    padding-bottom: 20px;
  }
  #imagem {
    width: 130px;
    height: 130px;
    padding: 0;
    padding-top: 20px;
  }
  .dropmenu ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .dropmenu ul li a{
    font-size: 16px;
    text-align: center;
  }
  header {
    height: 380px;
  }
}

