:root {
    --cor-fundo: rgb(213, 56, 13);
    --cor-hover: rgb(0, 0, 0);
    --cor-primaria: rgb(255, 255, 255);
  }
  .dropmenu ul {
    list-style-type: none;
    padding: 0;
  }
  .dropmenu {
    position: relative top 40px;
  }
  .dropmenu ul {
    background-color: var(--cor-fundo);
  }
  
  .dropmenu ul li {
    display: inline;
    position: relative;
  }
  
  .dropmenu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background 0.3s;
  }
  
  .dropmenu ul li a:hover {
    background-color: var(--cor-hover);
  }
  
  
  .dropmenu ul ul {
    display: none;
    left: 0;
    position: absolute;
  }
  
  .dropmenu ul li:hover ul {
    display: block;
  }
  
  .dropmenu ul ul {
    width: 150px;
  }
  
  .dropmenu ul ul li a {
    display: block;
  }
  header{background-color: orangered;}